<section data-ng-controller="HomeController">
	<div class="row menu">


		<div class="col-sm-6 container" ng-repeat="menu in menus" class="text-center">
			<a class="row" ng-href="{{menu.url}}" >
				<div class="col-xs-2">
					<h1 class="pull-right">
						<div type="button"class="btn" ng-class="menu.color">
							<i class="glyphicon" ng-class="menu.icon"></i>
						</div>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>{{menu.title}}</h1>
				</div>
			</a>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">{{menu.description}}</span>
				</div>
			</div>
		</div>			
	</div>

</section>
<style>
a.row{
	color: black;
}
a.row:hover{
	color: gray;
}
</style>