<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header text-center">
		<h1>Update Answer</h1>
	</div>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 form-bg">
		<form name="articleForm" class="form-horizontal" ng-submit="update()" novalidate>

			<fieldset ng-repeat="id in ids[article.round-1]" >
			<h2 class="text-center">Question {{questions[id].id+1}}</h2>
				<div class="row">
					<div class="col-xs-12">
						<span>{{questions[id].content}} {{article.answer[id]=='D'}}</span>
					</div>
					<br />
					<div class="col-xs-12 text-center form-group">
						<div class="col-xs-3 text-center">
							{{questions[id].option[0]}}
						</div>
						<div class="col-xs-3 text-center">
							{{questions[id].option[1]}}
						</div>
						<div class="col-xs-3 text-center">
							{{questions[id].option[2]}}
						</div>
						<div class="col-xs-3 text-center">
							{{questions[id].option[3]}}
						</div>

						<div class="col-xs-3 text-center">
							<input type="radio" ng-model="article.answer[id]" value="A">
						</div>
						<div class="col-xs-3 text-center">
							<input type="radio" ng-model="article.answer[id]" value="B">
						</div>
						<div class="col-xs-3 text-center">
							<input type="radio" ng-model="article.answer[id]" value="C">
						</div>
						<div class="col-xs-3 text-center">
							<input type="radio" ng-model="article.answer[id]" value="D">
						</div>
					</div>

					<br />
				</div>
				
			</fieldset>
			<div class="text-center form-group col-xs-12" >
						<input type="submit" class="btn btn-danger btn-lg btn-block">
			</div>
		</form>
	</div>
</section>