
  <section data-ng-controller="TicketsController" ng-init="find()">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 form-bg">
        <h3 class="text-center">Buy Ticket</h3>
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" data-ng-model="firstName" id="firstName" class="form-control" ng-init="firstName = authentication.user.firstName" required>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" data-ng-model="lastName" id="lastName" class="form-control" ng-init="lastName = authentication.user.lastName" required>
                    </div>
                </div>
                
                 <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-credit-card"></i>
                        </span>
                        <input type="text" ng-model="number" class="form-control" class="input-block-level"  payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type" placeholder="card number ( no space )"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-calendar"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="expiry ( MM/YY )"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" placeholder="CVC ( *** )"/>
                    </div>
                </div>
                

                <div class="row">
                
                     <div class="col-sm-6 text-center">
                        <div class="form-group">
                            <div class="controls">
                                <label class="control-label" for="referred">Referred?</label>
                                <input type="checkbox" data-ng-model="referred" id="lastName" class="form-control" ng-init="false">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center" ng-show="referred">
                        <div class="form-group">
                            <label class="control-label" for="refercode">refer code</label>
                            <div class="controls">
                                <input type="text" ng-model="refercode" id="refercode" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center container">
                        <div class="form-group">
                            <label for="table"> Select your table: </label><br>
                            <select ng-model="table">
                              <option ng-repeat="table in tables" ng-disabled='table.tickets.length==10' value="{{table.id}} ">{{table.id}}</option>
                            </select>
                        </div> 
                    </div>

                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-danger btn-lg btn-block">Pay for the ticket</button>
                    </div>
            </fieldset>
        </form>

    </div>
</section>
