<section data-ng-controller="TicketsController" data-ng-init="findOne()">
     <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 form-bg">
        <h3>Change participant</h3>
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" data-ng-model="ticket.firstName" id="firstName" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" data-ng-model="ticket.lastName" id="lastName" class="form-control" required>
                    </div>
                </div>
                <div class="text-center form-group">
                        <button type="submit" value="Update" class="btn btn-danger btn-lg btn-block">Apply</button>
                </div>


                <!-- <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="ticket.firstName" id="firstName" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <label class="control-label" for="lastName">Last Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="ticket.lastName" id="lastName" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div> -->
            </fieldset>
        </form>

    </div>
        
</section>