<section data-ng-controller="TicketsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="ticket.name"></h1>
	</div>
	
	<div class="col-sm-12" ng-show="(authentication.user.roles[0]=='admin')||((authentication.user) && (authentication.user._id == ticket.user._id))">
		<span>Participant: {{ticket.firstName}} {{ticket.lastName}}</span>
		<br>
		<span>Price: {{ticket.price}}</span>
		<br>
		<span>Table: {{ticket.table}}</span>
		<div class="pull-right">
			<a class="btn btn-default" href="/#!/tickets/{{ticket._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-default" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<br />
		<br />
		<br />
		<div barcode-generator="{{ticket.barcode}}" style="height:100px;">
			
		</div>
		<small class="col-sm-12" ng-show="authentication.user.roles[0]=='admin'">
			<em class="text-muted">
				<span>Ticket ID: {{ticket._id}}</span>
				<br>
				<span>User ID: {{ticket.user._id}}</span>
			</em>
		</small>
		
	</div>


</section>


